<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Guitarras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"> 
</head>
<body>
    <header data-aos="fade-down">
        <h1>Power Chords</h1>
        <nav>
            <a href="{{ url_for('index') }}" data-aos="fade-right">Início</a>
            <a href="{{ url_for('products') }}" data-aos="fade-right">Loja</a>
            <a href="{{ url_for('contact') }}" data-aos="fade-right">Contato</a>
    
            <!-- Verifica se o usuário está logado -->
            {% if usuario != 'Visitante' %}
                <h1>Bem-vindo, {{ usuario }}!</h1>
                <a href="{{ url_for('logout') }}" class="nav-button" data-aos="fade-left">Logout</a>
            {% else %}
                <h1>Bem-vindo, Visitante!</h1>
                <a href="{{ url_for('login') }}" class="nav-button" data-aos="fade-left">Entrar</a>
                <a href="{{ url_for('criarconta') }}" class="nav-button" data-aos="fade-left">Criar Conta</a>
            {% endif %}
    
            <!-- Verifica se o usuário é administrador -->
            {% if session['is_admin'] %}
                <a href="{{ url_for('add_product') }}" class="nav-button" data-aos="fade-left">Adicionar Produto</a>
                <a href="{{ url_for('listaprodutos') }}" class="nav-button" data-aos="fade-left">lista de  produtos</a>
            {% endif %}
    
            <a href="{{ url_for('guitarforme') }}" class="nav-button" data-aos="fade-left">Sua Guitarra ideal</a>
        </nav>
    </header>
    
    <!-- Seção para Carrossel de Imagens -->
    <section id="carousel" class="slider" data-aos="fade-up">
        <div class="slider-content">
            <input type="radio" name="btn-radio" id="radio1" checked>
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">
            <input type="radio" name="btn-radio" id="radio4">
            <input type="radio" name="btn-radio" id="radio5">
            <input type="radio" name="btn-radio" id="radio6">

            <div class="slide-box">
                <div class="slides">
                    <img src="{{ url_for('static', filename='img/poweazul.png') }}" alt="SLIDE1">
                    <img src="{{ url_for('static', filename='img/power chord (2).png') }}" alt="SLIDE2">
                    <img src="{{ url_for('static', filename='img/power chord (3).png') }}" alt="SLIDE3">
                    <img src="{{ url_for('static', filename='img/suamelhorescolha (1).png') }}" alt="SLIDE4">
                    <img src="{{ url_for('static', filename='img/maneira.png') }}" alt="SLIDE5">
                    <img src="{{ url_for('static', filename='img/fases.png') }}" alt="SLIDE6">
                </div>
            </div>
        </div>

        <div class="controls">
            <label for="radio1" class="control-dot"></label>
            <label for="radio2" class="control-dot"></label>
            <label for="radio3" class="control-dot"></label>
            <label for="radio4" class="control-dot"></label>
            <label for="radio5" class="control-dot"></label>
            <label for="radio6" class="control-dot"></label>
        </div>
    </section>

    <!-- Seção de Produtos em Destaque -->
    <section class="featured-products" data-aos="fade-up">
        <h2>Conheça os modelos mais famosos de guitarras e suas origens</h2>
        <div class="product-list">
            <div class="product" data-aos="fade-up">
                <img src="{{ url_for('static', filename='img/telecastervirada.jpg') }}" alt="Telecaster">
                <p>Telecaster</p>
                <p> Lançada em 1950, a Telecaster foi uma das primeiras guitarras elétricas de corpo sólido.Conhecida por seu design simples e durável, a Telecaster é famosa por seu som brilhante e cortante, tornando-se uma escolha popular para músicos de country e rock and roll.</p>
            </div>
            <div class="product" data-aos="fade-up" data-aos-delay="100">
                <img src="{{ url_for('static', filename='img/lespaulo.jpg') }}" alt="Les Paul">
                <p>Les Paul</p>
                <p>Desenvolvida no final dos anos 1950, Com um corpo sólido e captadores humbucker, a Les Paul é conhecida por seu som robusto e sustain prolongado, sendo ideal para rock e blues.</p>
            </div>
            <div class="product" data-aos="fade-up" data-aos-delay="200">
                <img src="{{ url_for('static', filename='img/strato.jpg') }}" alt="Stratocaster">
                <p>Stratocaster</p>
                <p>Introduzida em 1954, Seu design contornado e os três captadores de single-coil proporcionam uma ampla gama de timbres, tornando-a popular em vários estilos, incluindo rock e blues.</p>
            </div>
            <div class="product" data-aos="fade-up" data-aos-delay="300">
                <img src="{{ url_for('static', filename='img/SG.png') }}" alt="SG">
                <p>SG</p>
                <p>Lançada em 1961 como uma evolução da Les Paul, A SG  Apresenta um corpo mais leve e um design mais agressivo, ideal para músicos que desejam facilidade ao tocar e uma sonoridade poderosa.</p>
            </div>
            <div class="product" data-aos="fade-up" data-aos-delay="400">
                <img src="{{ url_for('static', filename='img/explorer.png') }}" alt="Explorer">
                <p>Explorer</p>
                <p>Introduzida em 1958, a Explorer tinha um design inovador e futurista, Seu corpo angular e balanceamento excepcional fazem dela uma guitarra distinta, adequada para hard rock e heavy metal.</p>
            </div>
            <div class="product" data-aos="fade-up" data-aos-delay="500">
                <img src="{{ url_for('static', filename='img/V.png') }}" alt="Flying V">
                <p>Flying V</p>
                <p>Também lançada em 1958, a Flying V possui um design radical. Projetada para se destacar no palco, oferece um timbre poderoso e sustain longo, atraindo guitarristas que buscam um visual ousado.</p>
            </div>
            <div class="product" data-aos="fade-up" data-aos-delay="600">
                <img src="{{ url_for('static', filename='img/Warlock.jpeg') }}" alt="Warlock">
                <p>Warlock</p>
                <p>Lançada nos anos 1980, a Warlock é conhecida por seu formato agressivo.Conhecida por seu formato agressivo e visual único, a Warlock favorece um estilo de tocar rápido e técnico, ideal para o metal.</p>
            </div>
        </div>
    </section>

    <!-- Seções de Imagem em Tela Cheia -->
    <section class="full-width-image" data-aos="fade-up">
        <img src="{{ url_for('static', filename='img/EMBAIXOsg2.png') }}" alt="Guitarras" />
    </section>
    
    <section class="full-width-image">
        <img src="{{ url_for('static', filename='img/EMBAIXOlespaul (1).png') }}" alt="Guitarras" />
    </section>
    
    <section class="full-width-image">
        <img src="{{ url_for('static', filename='img/EMBAIXOv.png') }}" alt="Faixa de Guitarras" />
    </section>
    
    <section class="full-width-image">
        <img src="{{ url_for('static', filename='img/EMBAIXOstrato (1).png') }}" alt="Faixa de Guitarras" />
    </section>
    
    <section class="full-width-image">
        <img src="{{ url_for('static', filename='img/EMBAIXOsgg.png') }}" alt="Faixa de Guitarras" />
    </section>
    
    <section class="full-width-image">
        <img src="{{ url_for('static', filename='img/EMBAIXOwarlock.png') }}" alt="Faixa de Guitarras" />
    </section>
    
    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Loja de Guitarras. Todos os direitos reservados.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
