<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Coleção de Guitarras</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

    <h1>Produtos diponíveis na loja</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td><a href="{{ url_for('edit_product', product_id=produto.id) }}"><button>Editar</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
